In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.linear_model import Ridge

In [2]:
df = pd.read_csv("NFL 2018 Weekly Results.csv")

In [3]:
df['Year'] = "2018"

In [4]:
df1 = pd.read_csv("NFL 2017 Weekly Results.csv")

In [5]:
df1['Year'] = "2017"

In [6]:
df = df.append(df1)

In [7]:
df1 = pd.read_csv("NFL 2016 Weekly Results.csv")

In [8]:
df1['Year'] = "2016"

In [9]:
df = df.append(df1)

In [10]:
df1 = pd.read_csv("NFL 2015 Weekly Results.csv")

In [11]:
df1['Year'] = "2015"

In [12]:
df = df.append(df1)

In [13]:
df.head()

,Unnamed: 0,Week,Day,Date,Time,Winner/tie,H/A,Loser/tie,Pts Scored,Pts Allowed,Yds Gained,TOs,Yds Allowed,Opp TOs,Tm Performance,Opp Performance,Spread,Spread Prcntl,Year
0,0,1,Thu,September 6,8:20PM,Philadelphia Eagles,NaN,Atlanta Falcons,18,12,232,2,299,1,-1.266716,-0.660477,6,0.292962,2018
1,1,1,Sun,September 9,1:00PM,Tampa Bay Buccaneers,@,New Orleans Saints,48,40,529,0,475,2,2.227826,2.510158,8,0.371207,2018
2,2,1,Sun,September 9,1:00PM,Minnesota Vikings,NaN,San Francisco 49ers,24,16,343,1,327,4,-0.567808,-0.207529,8,0.371207,2018
3,3,1,Sun,September 9,1:00PM,Miami Dolphins,NaN,Tennessee Titans,27,20,342,2,336,3,-0.218353,0.245419,7,0.331162,2018
4,4,1,Sun,September 9,1:00PM,Jacksonville Jaguars,@,New York Giants,20,15,305,1,324,2,-1.033747,-0.320766,5,0.256943,2018

In [14]:
historical_df = df[["Week","Day","Date","Time","Winner/tie","H/A","Loser/tie","Pts Scored","Pts Allowed","Yds Gained","TOs","Yds Allowed","Opp TOs","Year"]]

In [15]:
historical_df.head()

,Week,Day,Date,Time,Winner/tie,H/A,Loser/tie,Pts Scored,Pts Allowed,Yds Gained,TOs,Yds Allowed,Opp TOs,Year
0,1,Thu,September 6,8:20PM,Philadelphia Eagles,NaN,Atlanta Falcons,18,12,232,2,299,1,2018
1,1,Sun,September 9,1:00PM,Tampa Bay Buccaneers,@,New Orleans Saints,48,40,529,0,475,2,2018
2,1,Sun,September 9,1:00PM,Minnesota Vikings,NaN,San Francisco 49ers,24,16,343,1,327,4,2018
3,1,Sun,September 9,1:00PM,Miami Dolphins,NaN,Tennessee Titans,27,20,342,2,336,3,2018
4,1,Sun,September 9,1:00PM,Jacksonville Jaguars,@,New York Giants,20,15,305,1,324,2,2018

In [16]:
current_df = pd.read_csv("2020_results.csv")

In [17]:
current_df['Year'] = "2020"

In [18]:
current_df.head()

,Week,Day,Date,Time,Winner/tie,H/A,Loser/tie,Pts Scored,Pts Allowed,Yds Gained,TOs,Yds Allowed,Opp TOs,Year
0,1,Thu,10-Sep,8:20PM,Kansas City Chiefs,NaN,Houston Texans,34,20,369,0,360,1,2020
1,1,Sun,13-Sep,1:00PM,Seattle Seahawks,@,Atlanta Falcons,38,25,383,0,506,2,2020
2,1,Sun,13-Sep,1:00PM,Chicago Bears,@,Detroit Lions,27,23,363,0,426,1,2020
3,1,Sun,13-Sep,1:00PM,New England Patriots,NaN,Miami Dolphins,21,11,357,1,269,3,2020
4,1,Sun,13-Sep,1:00PM,Buffalo Bills,NaN,New York Jets,27,17,404,2,254,2,2020

In [19]:
current_df = current_df[["Week","Day","Date","Time","Winner/tie","H/A","Loser/tie","Pts Scored","Pts Allowed","Yds Gained","TOs","Yds Allowed","Opp TOs","Year"]]

In [20]:
#final_df = historical_df.append(current_df)
final_df = current_df

In [21]:
final_df['Score_Difference'] = final_df['Pts Scored'] - final_df['Pts Allowed']

In [22]:
final_df['Total_Points'] = final_df['Pts Scored'] + final_df['Pts Allowed']

In [23]:
final_df['home_win'] = np.where(final_df['H/A'] != '@',1,0)

In [24]:
final_df['home_loss'] = np.where(final_df['H/A'] == '@',1,0)

In [25]:
final_df.tail()

,Week,Day,Date,Time,Winner/tie,H/A,Loser/tie,Pts Scored,Pts Allowed,Yds Gained,TOs,Yds Allowed,Opp TOs,Year,Score_Difference,Total_Points,home_win,home_loss
171,12,Sun,29-Nov,4:05PM,San Francisco 49ers,@,Los Angeles Rams,23,20,348,3,308,4,2020,3,43,0,1
172,12,Sun,29-Nov,4:05PM,New Orleans Saints,@,Denver Broncos,31,3,292,1,112,3,2020,28,34,0,1
173,12,Sun,29-Nov,4:25PM,Kansas City Chiefs,@,Tampa Bay Buccaneers,27,24,543,1,417,2,2020,3,51,0,1
174,12,Sun,29-Nov,8:20PM,Green Bay Packers,NaN,Chicago Bears,41,25,393,0,351,3,2020,16,66,1,0
175,12,Mon,30-Nov,8:15PM,Seattle Seahawks,@,Philadelphia Eagles,23,17,301,0,250,1,2020,6,40,0,1

In [26]:
final_df['visitor'] = np.where((final_df['home_loss'] == 0),final_df['Loser/tie'],
                               np.where((final_df['home_loss'] == 1),final_df['Winner/tie'],0))

In [27]:
final_df['home'] = np.where((final_df['home_loss'] == 1),final_df['Loser/tie'],
                               np.where((final_df['home_win'] == 1),final_df['Winner/tie'],0))

In [28]:
final_df.head()

,Week,Day,Date,Time,Winner/tie,H/A,Loser/tie,Pts Scored,Pts Allowed,Yds Gained,TOs,Yds Allowed,Opp TOs,Year,Score_Difference,Total_Points,home_win,home_loss,visitor,home
0,1,Thu,10-Sep,8:20PM,Kansas City Chiefs,NaN,Houston Texans,34,20,369,0,360,1,2020,14,54,1,0,Houston Texans,Kansas City Chiefs
1,1,Sun,13-Sep,1:00PM,Seattle Seahawks,@,Atlanta Falcons,38,25,383,0,506,2,2020,13,63,0,1,Seattle Seahawks,Atlanta Falcons
2,1,Sun,13-Sep,1:00PM,Chicago Bears,@,Detroit Lions,27,23,363,0,426,1,2020,4,50,0,1,Chicago Bears,Detroit Lions
3,1,Sun,13-Sep,1:00PM,New England Patriots,NaN,Miami Dolphins,21,11,357,1,269,3,2020,10,32,1,0,Miami Dolphins,New England Patriots
4,1,Sun,13-Sep,1:00PM,Buffalo Bills,NaN,New York Jets,27,17,404,2,254,2,2020,10,44,1,0,New York Jets,Buffalo Bills

In [29]:
df_visitor = pd.get_dummies(final_df['visitor'],dtype=np.int64)

In [30]:
df_home = pd.get_dummies(final_df['home'],dtype=np.int64)

In [31]:
df_model = df_home.sub(df_visitor)

In [32]:
df_model['Score_Difference'] = final_df['Score_Difference']

In [33]:
df_model

,Arizona Cardinals,Atlanta Falcons,Baltimore Ravens,Buffalo Bills,Carolina Panthers,Chicago Bears,Cincinnati Bengals,Cleveland Browns,Dallas Cowboys,Denver Broncos,...,New York Giants,New York Jets,Philadelphia Eagles,Pittsburgh Steelers,San Francisco 49ers,Seattle Seahawks,Tampa Bay Buccaneers,Tennessee Titans,Washington Football Team,Score_Difference
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,14
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,-1,0,0,0,13
2,0,0,0,0,0,-1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
4,0,0,0,1,0,0,0,0,0,0,...,0,-1,0,0,0,0,0,0,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,-1,0,0,0,0,3
172,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,28
173,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,3
174,0,0,0,0,0,-1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,16
175,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,-1,0,0,0,6

In [34]:
df_model_a = df_home.sub(df_visitor)

In [35]:
df_model_a['Total_Points'] = final_df['Total_Points']

In [36]:
df_model_a

,Arizona Cardinals,Atlanta Falcons,Baltimore Ravens,Buffalo Bills,Carolina Panthers,Chicago Bears,Cincinnati Bengals,Cleveland Browns,Dallas Cowboys,Denver Broncos,...,New York Giants,New York Jets,Philadelphia Eagles,Pittsburgh Steelers,San Francisco 49ers,Seattle Seahawks,Tampa Bay Buccaneers,Tennessee Titans,Washington Football Team,Total_Points
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,54
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,-1,0,0,0,63
2,0,0,0,0,0,-1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,50
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,32
4,0,0,0,1,0,0,0,0,0,0,...,0,-1,0,0,0,0,0,0,0,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,-1,0,0,0,0,43
172,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,34
173,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,51
174,0,0,0,0,0,-1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,66
175,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,-1,0,0,0,40

In [37]:
df_train = df_model # not required but I like to rename my dataframe with the name train.

lr = Ridge(alpha=0.001) 
X = df_train.drop(['Score_Difference'], axis=1)
y = df_train['Score_Difference']

lr.fit(X, y)

Ridge(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [38]:
#test versus actuals & time frames;

In [39]:
df_ratings = pd.DataFrame(data={'team': X.columns,'rating': lr.coef_})

In [40]:
df_ratings

                        team    rating
0          Arizona Cardinals -4.406192
1            Atlanta Falcons  0.320152
2           Baltimore Ravens  3.895705
3              Buffalo Bills -2.200613
4          Carolina Panthers  2.946935
5              Chicago Bears -1.514043
6         Cincinnati Bengals -1.728405
7           Cleveland Browns -2.645507
8             Dallas Cowboys  1.039431
9             Denver Broncos  2.123175
10             Detroit Lions -1.481521
11         Green Bay Packers -0.871751
12            Houston Texans  3.642581
13        Indianapolis Colts  1.228508
14      Jacksonville Jaguars  2.329251
15        Kansas City Chiefs  2.472759
16         Las Vegas Raiders  0.580252
17      Los Angeles Chargers  0.422715
18          Los Angeles Rams -2.648917
19            Miami Dolphins -3.057085
20         Minnesota Vikings  0.094350
21      New England Patriots  1.467345
22        New Orleans Saints -3.560455
23           New York Giants  3.371903
24             New York Jets -3.819613
25       Philadelphia Eagles -0.440767
26       Pittsburgh Steelers  4.596349
27       San Francisco 49ers -4.307389
28          Seattle Seahawks -2.276229
29      Tampa Bay Buccaneers  1.058999
30          Tennessee Titans  2.380718
31  Washington Football Team  0.987362

In [41]:
df_ratings.to_csv(f"df_ratings.csv", index=False)

In [ ]:
df_train_a = df_model_a # not required but I like to rename my dataframe with the name train.

lr = Ridge(alpha=0.001) 
X = df_train_a.drop(['Total_Points'], axis=1)
y = df_train_a['Total_Points']

lr.fit(X, y)

In [ ]:
df_ratings_a = pd.DataFrame(data={'team': X.columns,'rating': lr.coef_})

In [ ]:
df_ratings_a

In [ ]:
def regression_evaluation(target, X_list):
    target = target
    X = X_list 
    X2 = sm.add_constant(X)
    # model = sm.ols(formula = 'over_under_line ~ np.power(total_points_against, 1)', data = reg_df).fit()

    est = sm.OLS(target, X2)
    est2 = est.fit()
    
    y_predicted = est2.fittedvalues
    y_actual = target
    rmse = math.sqrt(mean_squared_error(y_actual, y_predicted))
    residuals = y_actual-y_predicted
    
    plt.scatter(y_predicted,residuals)
    check = round(rmse_check(y_predicted, y_actual) - rmse)
    print(est2.summary())
    plt.scatter(y_predicted,residuals)
    
    print('RMSE=' + str(rmse) + ', check =' + str(check))